.routine-runner-container {
    margin: 0 auto;
    width: 70vw;
}

.schedule-selector-grid {
    display: grid;
    grid-template-columns: 
        repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 10px;
}

.schedule-info-list {
    list-style: none;
    text-align: center;
    margin: 0;
}

.item-container {
    display: flex;
    flex-direction: column;
    background-color: var(--color-light-2);
    margin: 0 auto;
    width: clamp(300px, 100%, 600px);
    padding: 50px;
    border-radius: 20px;
}

.item-container label {
    margin-bottom: 5px;
}

.item-container select {
    margin-bottom: 15px;
}

.runner-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    margin-bottom: 20px;
}

.runner-btn {
    width: 250px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 25px;
}

.runner-btn:active {
    filter: brightness(0.9);
}

.runner-btn:hover {
    border: 1px solid black;
}

.runner-btn.blue {
    background-color: rgb(72, 170, 212);
}

.runner-btn.green {
    background-color: rgb(72, 212, 74);
}

.runner-btn.red {
    background-color: rgb(212, 72, 72);
}

.runner-btn.unavailable {
    background-color: var(--color-primary-1);
}

.break-timer {
    font-size: 20px;
}

.cancel-runner-btn {
    max-width: 80px;
}

.stop-break-btn {
    color: var(--text-color-dark-3);
    background: none;
    margin: 0 auto;
    max-width: 150px;
    text-decoration: underline;
}

.stop-break-btn:hover {
    color: var(--text-color-dark-3);
    background: var(--color-background-secondary);
    text-decoration: underline;
}

.edit-settings-btn {
    max-width: 60px;
    margin: 0 auto;
}

.runner-exercise-settings-list ul {
    margin: 0;
}

.runner-exercise-settings-list li {
    list-style: none;
    background-color: var(--color-light-3);
    text-align: center;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}