/* Global Dialog style */
.dialog-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;

  /* optional to place on top */
  z-index: 1000;
}


.dialog-container {
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  width: 50%;
  max-width: 500px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  white-space: pre-wrap;
}
.dialog-container > h3 {
  border-bottom: 1px solid #adadad;
  margin-bottom: 1rem;
}
.dialog-container > p {
  color: var(--text-color-dark-3);
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  justify-content: flex-end;
}
