.achievement-card {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  background-color: var(--color-light-2);
  align-items: center;
  gap: 1rem;
  font-weight: bold;
  font-size: 20px;
  width: fit-content;
}

.achievement-holder {
  display: flex;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  align-items: center;
  background-color: var(--color-light-1);
  border-radius: 12px;
  border: 1px solid #ccc;
  transition: box-shadow 0.3s;
}

.achievement-holder:hover {
  box-shadow: 0 0 5px black;
}
