.routine-scheduler-header {
  display: flex;
  justify-content: space-between;
}

.routine-scheduler-time {
  display: flex;
  gap: 2rem;
}

.routine-scheduler-table-container {
  overflow-x: auto;
  margin: 20px 0;
  font-family: Arial, sans-serif;
}

/* Base table style */
.routine-scheduler-table-container table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Table header */
.routine-scheduler-table-container th {
  background-color: var(--color-primary-1); /* Green header */
  color: white;
  text-align: left;
  padding: 12px;
  font-weight: 600;
}

/* Table body cells */
.routine-scheduler-table-container td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.table-row-light {
  background-color: var(--color-light-1);
}

.table-row-dark {
  background-color: var(--color-light-2);
}

/* Hover effect */
.routine-scheduler-table-container tr:hover {
  background-color: var(--color-light-1);
}

/* Rounded corners for table */
.routine-scheduler-table-container table {
  border-radius: 8px;
  overflow: hidden;
}

/* Routine tags container */
.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

/* Individual routine tag */
.tag {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  font-size: 0.9rem;
  color: var(--text-color-dark-2);
  border: 1px solid var(--color-primary-1);
}

/* Routine name with right separator */
.tag-name {
  padding-right: 0.5rem;
  border-right: 1px solid var(--text-color-dark-2); /* separator line */
  margin-right: 0.5rem;
}

/* Tag remove button */
.tag button {
  padding: 0.4em;
  background: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: red;
  transition: color 0.2s;
}
