.profile-page-container {
  display: flex;
  flex-direction: column;
  place-items: center;
  height: fit-content;
  gap: 1rem;
  padding: 1rem;
  border-radius: 12px;
  flex: 1;
}

.bio {
  overflow-y: auto;
  width: 100%;
  height: fit-content;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 12px;
  color: #333;
  padding: 1rem;
}

.stats {
  overflow-y: auto;
  width: 100%;
  height: fit-content;
  background: var(--color-light-1);
  border-radius: 12px;
  color: #333;
  padding: 1rem;
  list-style-position: inside;
}

.workouts {
  overflow-y: auto;
  width: 100%;
  height: fit-content;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 12px;
  color: #333;
  padding: 1rem;
}
