* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  height: 100%;
  width: 100%;
  background: linear-gradient(30deg, rgb(109, 70, 160), rgb(43, 130, 201));
  background-repeat: no-repeat;
  background-attachment: fixed;
  flex: 1;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  flex: 1;
}