.post-card {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  background-color: var(--color-background-primary);
}

.post-card:hover {
  background-color: var(--color-div-hover);
}

.post-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 20px;
}

.post-title {
  color: var(--text-color-dark-3);
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.post-caption {
  color: var(--text-color-dark-3);  
  font-style: italic;
  margin-bottom: 0.5rem;
}

.post-footer {
  font-size: 0.9rem;
  color: #555;
  display: flex;
  justify-content: space-between;
}

.post-clickable {
  cursor: pointer;
}

.post-clickable:hover {
  text-decoration: underline;
}

.heart {
  margin-right: 5px;
  font-size: 16px;
  color: #ccc;
  transition: color 0.2s;
}

.heart.liked {
  color: #e74c3c;
}

.comment-icon {
  margin-right: 5px;
  font-size: 16px;
}
