.routine-nav-container {
  display: flex;
  margin-bottom: 0rem;
  justify-content: flex-start;
  align-items: center;

}

.routine-scheduler-container {
  padding: 15px;
  border-radius: 0px 10px 10px 10px;
  box-shadow: var(--box-shadow-2);
  background-color: var(--color-background-primary);
  min-height: 50vh;
}

.nav-button {
  background-color: var(--color-primary-3);

  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
  transition: none;
  color: var(--color-light-3);
  opacity: 0.5;
}

.nav-button:hover {
  transform: none;
}

.nav-button.sched {
  border-radius: 10px 0 0 0px;
}

.nav-button.build {
  border-radius: 0px 10px 0px 0px;
}

.nav-button:hover {
  background-color: var(--color-primary-1);
  text-decoration: underline;
  opacity: 0.8;
}

.nav-button.active {
  background-color: var(--color-primary-1);
  color: var(--color-light-2);
  opacity: 1;
}
