/* Shared css across all Routine components */

/* Inputs and selects */
.text-input,
select {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--color-light-3);
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  transition: border 0.4s;
}

.text-input:hover,
.text-input:focus,
select:hover,
select:focus {
  border: 1px solid var(--color-primary-1);
}

.input-group {
  margin-bottom: 1rem;
}

.input-label {
  font-weight: 500;
  margin-top: 0.9rem;
  margin-bottom: 0.25rem;
  display: block;
}

.back-button {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.create-button {
  font-size: 1rem;
  background: green;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.action-button-container {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.action-button-container.space-between {
  justify-content: space-between;
}

/* Modal css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  font-family: Arial, sans-serif;
}

.modal-content {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  max-width: 40%;
  min-width: 500px;
  max-height: 80vh;
  overflow-y: auto;
  position: relative;
}

.modal-title {
  text-align: center;
}

.input-label {
  font-weight: bold;
}
