.achievement-card {
  display: flex;
  align-items: center;
  gap: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  background-color: #f7f8ffcc;
}

.incomplete > .achievement-card {
  opacity: 0.6;
  background-color: #c5c5c5;
}

.incomplete > .achievement-card > .badge {
  border: 4px inset rgb(144, 161, 216);
  box-shadow: none;
  filter: grayscale(80%);
  opacity: 0.75;
  background-color: #743e3e;
}

/* Achievement card designed originally with (some help of ChatGPT) */
.achievement-card:hover {
  filter: none;
  background-color: var(--color-div-hover);
  opacity: 100%;
}
.achievement-card:hover > .badge {
  transform: scale(1.1);
  filter: none;
  opacity: 1;
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 60px;

  background-color: #743e3e;

  /* circle border*/
  border: 2px solid gold;
  box-shadow: 0 0 8px gold;
  border-radius: 50%;
  font-size: 2.3rem;
  flex-shrink: 0;
  transition: transform 0.3s ease;
}

.achievement-content {
  flex: 1;
  text-align: left;
}

.achievement-title {
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  margin: 0 0 0.25rem 0;
}

.achievement-description {
  font-size: 0.9rem;
  color: var(--text-color-dark-2);
  margin: 0 0 0.25rem 0;
}

.achievement-date {
  font-size: 0.8rem;
  font-weight: bold;
  color: #288137;
}

.achievement-tracker {
  color: #ffffff;
  background-color: #114dbdad;
  padding: 2px;
  font-size: 0.8rem;
  font-weight: bold;
}

@media (max-width: 600px) {
  .achievement-card {
    align-items: flex-start;
  }

  .badge {
    min-width: auto;
    font-size: 2rem;
  }

  .achievement-content {
    text-align: center;
  }
}
