.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; /* space between posts */
  padding: 2rem;
  font-family: Arial, sans-serif;
  flex: 1;
}

.dashboard-header {
  text-align: center;
  margin-bottom: 2rem;
}

.dashboard-action-buttons {
  margin-left: auto;
}

.dashboard-content {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
