.post-card {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem 1.5rem;
    background-color: var(--color-light-2);
}

.post-card:hover {
    background-color: white;
}

.post-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 20px;
}

.post-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.post-caption {
    font-style: italic;
    margin-bottom: 0.5rem;
}

.post-footer {
    font-size: 0.9rem;
    color: #555;
    display: flex;
    justify-content: space-between;
}

.post-clickable {
    cursor: pointer;
}

.post-clickable:hover {
    text-decoration: underline;
}