/* RoutineBuilder.tsx */

.routine-builder-header {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-family: Arial, sans-serif;
  justify-content: space-between;
  margin-bottom: 1em;
}

.exercise-in-routine-list {
  list-style-type: none;
  font-size: 1.15rem;
  padding: 10px;
  color: var(--text-color-dark-1);
  box-shadow: var(--box-shadow-3);
  background-color: var(--color-light-3);
  border-radius: 10px;
  font-weight: bold;
  margin: 0;
  border: none;
}

.routine-builder-container {
  padding: 15px;
  border-radius: 0px 10px 10px 10px;
  box-shadow: var(--box-shadow-2);
  background-color: var(--color-background-primary);
  min-height: 50vh;
}

.routine-builder-content {
  width: 75%;
  margin: 0 auto;
}

.exercise-in-routine-list li {
  background-color: rgba(255, 255, 255, 0.63);
  padding: 4px;
  padding-left: 10px;
  border-radius: 16px;
  margin-bottom: 5px;
}

/* CreateRoutineModal.tsx */

.exercise-list {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.exercise-item {
  margin-bottom: 1rem;
  cursor: pointer;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* RoutineList.tsx */

.routine-list {
  display: grid;
  font-family: Arial, sans-serif;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 1rem;
}

.routine-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.routine-name {
  font-size: 1.4rem;
  margin: 0 0 0.8rem 0;
  color: var(--text-color-dark-3);
}

.routine-actions {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.share-button {
  width: 100%;
  font-weight: bold;
  max-width: 400px;
  border-radius: 10px 0px 0px 10px;
}
.delete-button {
  background: rgb(206, 40, 54);
  width: 100%;
  max-width: 400px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 0px 10px 10px 0px;
}