/* RoutineBuilder.tsx */

.routine-builder-header {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-family: Arial, sans-serif;
  justify-content: space-between;
  margin-bottom: 1em;
}

.exercise-in-routine-list {
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;
  border: none;
}

.exercise-in-routine-list li {
  margin-bottom: 5px;
}

/* CreateRoutineModal.tsx */

.exercise-list {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.exercise-item {
  margin-bottom: 1rem;
  cursor: pointer;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* RoutineList.tsx */

.routine-list {
  display: grid;
  font-family: Arial, sans-serif;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 1rem;
}

.routine-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.routine-name {
  margin: 0 0 0.5rem 0;
  color: #333;
}

.routine-actions {
  margin-top: 1rem;
  display: flex;
  gap: 10px;
}
