.profile-container {
  max-width: fit-content;
  max-height: fit-content;
  padding: 2rem;
  background: var(--color-light-1);
  border-radius: 12px;
  box-shadow: 0 2px 8px var(--box-shadow-1);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
  box-shadow: 0 1px 4px var(--box-shadow-1);
}

.name {
  margin: 0.5rem 0;
  color: var(--text-color-dark-1);
}

.username {
  color: var(--text-color-dark-1);
  margin: 0.5rem 0;
}

.email {
  color: var(--text-color-dark-3);
  margin: 0.5rem 0;
}
